
.column img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}

.row a:nth-child(even) img:hover {
  transform: scale(1.1);
  border: 5px groove red;
}

.row a:nth-child(odd) img:hover {
  transform: scale(1.1);
  border: 5px groove green;
}


