* {
    background-color: #1F2766;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1{
    margin: 10px;
    color: white;
    font-family: 'Codystar', sans-serif;
    font-size: 3rem;

}

.page_buttons {
 display: inline-block;
 padding: 0.9rem 1.8rem;
 font-size: 16px;
 font-weight: 700;
 color: white;
 border: 3px solid #add8e6;
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
}

.page_buttons::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #add8e6;
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.page_buttons:hover::before {
 transform: translateX(0);
}

.page_buttons:hover {
    color: black;
}